<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.ve.dialogsbinding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name="by.ve.dialogsbinding.ui.demo.chooser.SolutionChooserActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="by.ve.dialogsbinding.ui.demo.dialog.solution1.Solution1Activity" />
        <activity android:name="by.ve.dialogsbinding.ui.demo.dialog.solution2.Solution2Activity" />
        <activity android:name="by.ve.dialogsbinding.ui.demo.dialog.solution3.Solution3Activity" />
    </application>
</manifest>
